
header{

background-image: url(../imgs/logo.png);
width:100%;
height:150px;
background-repeat: no-repeat;
background-position: center;
}

#fundo img{

    width: 100%;

}

aside{
    background-color: rgba(150, 150, 150, 0.801);
    margin-top:-60%;
    margin-left:25%;
    width:50%;
    height:80%;
    }

#login{
margin-top: 20%;
margin-left: 30%

}
#senha{

    margin-left: 29.8%
    
    }


#roger{

    background-color: rgba(102, 19, 19, 0.801);
   
    margin-left:25%;
    width:50%;
    height:80%;

    }