
body {
	overflow-x: hidden;
	background-image: url(../imgs/background.png);
	background-repeat: no-repeat;
	background-size: cover;
	}
 .produtos{
		overflow-x: hidden;
		background-image: url(../imgs/backgroundprod.png);
		background-repeat: no-repeat;
		background-size: cover;
	}
.logo{

	margin-top:-1%;

}

.corpo{
	width:120%;
	margin-top:-5.6%;
	margin-left:-10%;
	height:60px;
	background-color:rgba(65,65,65,1);
	
	}





nav{

width:75%;
height:50px;
margin-left:10%;

}

nav ul{
list-style-type:none;
}

nav ul li {
	display: inline; 
}

nav li{

margin-left: 40%;
margin-right: -40%;
}


nav a:link, nav a:visited{
margin-top: 1%;
padding-left: -8%;
margin-right:10%;
color:rgb(255,239,37);
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size:25px;
text-decoration:none;
display:inline-block;
}
nav a.ativo:link, nav a:hover{
color:rgb(167, 156, 16);
transition:0.5s;

}
